@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  --background: 255 255 255;
  --subtle: 125 125 127;
  --muted: 177 177 178;
  --faint: 230 230 231;
  --primary: 0 0 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --background: 9 11 9;
    --subtle: 153 156 154;
    --muted: 70 71 71;
    --faint: 28 29 28;
    --primary: 255 255 255;
  }
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}